.env
.env.*
!.env.example
.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
.DS_Store
.vite
*.log
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
build
composer.lock
coverage
clover.xml
phpunit.xml
phpstan.neon
vendor
node_modules
flatpack-bundle-stats.html
.php-cs-fixer.cache
/public/build/*
/.docs/review/*