input:disabled::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="datetime-local" i]::-webkit-calendar-picker-indicator {
  margin-inline-start: 0px;
}

.form-switch {
  @apply flex items-center justify-start;
}
.form-switch input[type="checkbox"] {
  @apply text-indigo-600;
  margin-top: 0.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-position: 0;
  transition: background-position 0.15s ease-in-out;
}
.form-switch input[type="checkbox"]:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
}
.form-switch input[type="checkbox"]:checked {
  background-position: 8px 0px;
}
