/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800;900&display=swap');

body
  font-family 'Inter', sans-serif!important

a
  font-weight 600!important

table
  width 100%
  display table

.sidebar-heading
  font-weight 600!important

.sidebar-link
  font-weight 500!important

.home .hero img
  max-width 450px!important
  margin-bottom 0!important

.home .hero h1
  font-size 5rem!important
  font-weight 900!important
  margin-top 0!important
  color: #2F2E42!important

.home .hero .description
  max-width 100%!important

.features
  margin-top 5rem!important
  margin-bottom 5rem!important

.embed-responsive
  position relative
  display block
  width 100%
  max-width 1000px
  margin 2rem auto
  padding 0
  overflow hidden
  &::before
    display block
    content ""

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  height 100%
  border 0

.embed-responsive-21by9
  &::before
    padding-top 42.857143%

.embed-responsive-16by9
  &::before
    padding-top 56.25%

.embed-responsive-4by3
  &::before
    padding-top 75%

.embed-responsive-1by1
  &::before
    padding-top 100%
