.form-main {
  @apply flex flex-col flex-grow w-full lg:w-3/4 max-w-6xl mx-auto;
}
.form-sidebar {
  @apply w-full lg:w-1/4 lg:max-w-sm;
  min-width: 320px;
}

.form-field {
  @apply flex flex-row justify-start items-center;
}
.form-field .form-field-elements {
  @apply flex flex-col w-full justify-start items-start;
}
.form-field .form-field-elements label {
  flex: 1;
  min-width: 80px;
}
.form-field .form-field-elements .form-field-input {
  @apply block w-full border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.form-fieldset {
  @apply grid grid-cols-2 gap-5 w-full max-w-6xl my-2 mx-auto;
}

.sidebar-fieldset {
  @apply grid grid-cols-1 gap-5 w-full max-w-6xl my-2 mx-auto;
}
.sidebar-fieldset .form-field {
  @apply flex flex-col;
}
.sidebar-fieldset .form-field .form-field-elements {
  @apply flex flex-row w-full gap-2 justify-start items-center;
}
.sidebar-fieldset .form-field .form-field-elements label {
  @apply text-left pr-2 m-0;
}
.sidebar-fieldset .form-field .form-field-elements .form-field-input {
  @apply text-sm;
}
